.Lista-Pr {
  background-color: rgb(195, 146, 214);
}
.Lista-Sc {
  background-color: cadetblue;
}
.Container {
  margin: auto;
  width: 10%;
}
.ul-list {
  color: white;
  width: 50%;
  margin: auto;
}
body {
  background-color: rgb(128, 130, 246);
}
form {
  display: table;
}
p {
  display: table-row;
}
input {
  display: table-cell;
}
