.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  width: 300px;
  margin: 5px;
  text-align: center;
  justify-content: space-between;
}
.text {
  flex: 3;
}
.btn {
  flex: 1;
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.btnalt {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  color: #800040;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.btnalt:hover {
  background-color: #f8dae9;
}
